@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para la barra de navegación fija */
.fixedNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Estilos adicionales */
.floating-button {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 9999;
}
/* Estilos adicionales */
.floating-button-whatsapp {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 9999;
}
.floating-button-up {
    position: fixed;
    bottom: 10rem;
    right: 4rem;
    z-index: 9999;
}


  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  