.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #bc799d;
    text-decoration: none;
}

body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #555555;
    background: #ffffff;
    font-size: 14px;
    font-family: SourceSansPro;
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #bc799d;
}

#logo {
    float: left;
    margin-top: 8px;
}

#logo img {
    height: 150px;
}

#company {
    float: right;
    text-align: right;
}

#details {
    margin-bottom: 50px;
}

.table-container {
    text-align: center; /* Centra horizontalmente el contenido */
    margin: 0 auto; /* Centra verticalmente el contenido */
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 20px;
    background: #eeeeee;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

table th {
    white-space: nowrap;
    font-weight: normal;
}

table td {
    text-align: justify;
}

table .no {
    color: #ffffff;
    font-size: 1.4em;
    background: #bc799d;
}

table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table tfoot td {
    padding: 10px 20px;
    background: #ffffff;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap;
    border-top: 1px solid #aaaaaa;
}

table tfoot tr:first-child td {
    border-top: none;
}

footer {
    color: #777777;
    width: 80%;
    height: 30px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #bc799d;
    padding: 8px 0;
    text-align: center;
}
